<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rekognition</title>
  </head>

  <body onload="main()">

    <h1>AWS rekognition</h1>

    <video onplay='onVideoPlay()' onpause="onVideoPause()" class="videoPlayer" src="https://dwo3ckksxlb0v.cloudfront.net/media/or/teTTXwfAQht/ca/liR1wgroAov/as/DBbkWc525Oi/TRpKhiD6ydZ_sbr_gQDAif4uhNN.mp4" width="320" height="240" controls></video>

    <canvas id="canvas" width="320" height="240"></canvas>

  </body>


  <script>

    let isNotPaused = true;

    const onVideoPause = () => {
      isNotPaused = false;
    }
    const onVideoPlay = () => {
      isNotPaused = true;
    }

    function main() {
      const canvas = document.querySelector('#canvas');
      const video = document.querySelector('.videoPlayer');
      console.log(video);

      setInterval(() => {
        if (isNotPaused) takeSnapshot()
      }, 1000);

      function takeSnapshot() {
        let context = canvas.getContext("2d"),
          width = video.videoWidth,
          height = video.videoHeight;

        if (width && height) {
          canvas.width = width;
          canvas.height = height;
          context.drawImage(video, 0, 0, width, height);
        }
      }
    }
    
  </script>

</html>